@use './variables' as *;

.report-container {
  display: flex;
  gap: 2rem;
  height: 100%;

  // Blocco singolo report
  .report-card {
    text-align: center;
    padding: 2rem;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 1rem;
      font-size: 40px;
      color: #000;
    }

    .sub-title {
      font-size: 16px;
      font-weight: 300;
      color: #bfbfbf;
      margin-bottom: 30px;
    }

    .box-btn {
      display: flex;
      justify-content: center;
      gap: 20px;

      .btn {
        padding: 0.6rem 1rem;
        border: 1px solid #e8e8e8;
        cursor: pointer;
        background: #fff;
        transition: background-color 0.2s ease;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 245px;
        height: 230px;
        border-radius: 0;

        .btn-icon {
          width: 70px;
          margin: 0 auto;

          svg {
            width: 100%;
            height: 100%;
            fill: $primary-color;
          }
        }

        .btn-text {
          font-size: 14px;
        }
      }
    }
  }
}

