@use './styles/variables' as *;
@use './styles/mixins';
@use './styles/app';

@use './styles/navbar';
@use './styles/footer';

@use './styles/home';
@use './styles/report-list';
@use './styles/technical-report-new';
@use './styles/inspection-report-new';